border-radius()
  border-radius arguments

body
  font 1em Helvetica, Arial, sans-serif
  background-color white

button
  border-radius 1px
  border none
  padding 0.5em

input
  height 1.6em
  margin-right 0.5em

ul li
  font-size 0.7em