doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel='stylesheet' type='text/css' href='css/react.css')
   body
      div#start
      script(type='text/javascript' src='bower_components/react/react.js')
      script(type='text/javascript' src='bower_components/immutable/dist/immutable.js')
      script(type='text/javascript' src='js/react.js')